@import '../node_modules/minireset.css/minireset';
@import 'base';
@import 'tags';
@import 'mixins';
@import 'components';


.wallpaper {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top:0;

  background-image: url("https://picsum.photos/1024/768?random=10");
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}

.content {
  display: flex;
  position: relative;
  min-height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;

  .side {
    max-height: 20rem;
    max-width: 20rem;

    margin-bottom: 3rem;
    width: 100%;
  }
  .about {
    max-width: 26rem;
  }

  @include min-w(800) {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;

    .side {
      flex-grow: 0;
      flex-shrink: 0;
      height: 20rem;
      width: 20rem;
      order: 2;
      margin: 0;
    }
    .about {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}


.wallpaper, 
.picture-shadow,
.picture-image {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}
.picture-shadow {
  border-radius: 290486px;
  background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 10%;
}
.picture-image {
  border-radius: 290486px;
  position: absolute;
}

.name {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.job, .button {
  font-family: sans-serif;
  letter-spacing: 0.3rem; 
}

.job {
  color: #ffe479;
  font-size: 0.75rem;
}

.hr {
  background-color: #ff4707;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left; 
  width: 4rem;
}

.description {
  font-size: 1.5rem;
}

.contact {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}

