@import 'reset';
@import 'vars';
@import 'tags';
@import 'components';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

html, body {
  height: 100vh;
  font-family: 'Noto Sans SC', sans-serif;
  background: #edece1;


  .wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    
    .timeline {
      padding: $decoration-line-width 0;
      // 两栏布局
      display: grid;
      align-items: end;
      // 两栏以最下对齐
      grid-template-columns: auto auto;
      // gap 1px 用于放中间的 修饰线
      gap: 1px;
      li {
        box-sizing: border-box;
        padding: 20px 0;
        position: relative;
        // relative 给子元素定位
        
        a {
          display: block;
          background-color: #fff;
          border: 1px solid black;
          border-radius: 10px;
          padding: 10px;
          box-shadow: 3px 3px  5px #888;

          &:hover {
            background: #6fa5f6;
            h2, p {
              color: #fff;
            }
            h2:after {
              width: 100%;
            }
          }

          h2 {
            position: relative;
            margin-bottom: 10px;
            
            &:after {
              @extend %h2-hover;
            }
          }
          p {
            &:before {
              @extend %decoration-horizontal-line;
            }
          }

        }
         // li 中线 修饰 定位 
         &:before, &:after {
             content: '';
             position: absolute;
             background: $decoration-color;
             top: 0;
             bottom: 0;
             margin: auto;
         }

         &:nth-child(odd) {
           padding-right: $decoration-line-width;
           &:before {
             @extend %decoration-ball;
             right: -5px;
           }
           &:after {
             @extend %decoration-vertical-line;
             right: -1px;
           }
           p:before {
             right: 0;
           }
         
         }
         &:nth-child(even) {
           padding-left: $decoration-line-width;
           transform: translateY(50%);
           &:before {
             @extend %decoration-ball;
             left: -5px;
           }
           &:after {
             @extend %decoration-vertical-line;
             left: -1px;
           }
           p:before {
             left: 0;
           }
         }
         &:last-child { 
           &:after {
             // 最后一个 只需 一半
             height: 50%;
             margin: 0;
             top: 0;
           }
         }
      }
    }
  }
}
