@import 'reset';

html,body {
  height: 100vh;
}

article {
  padding: 1em;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr; 
  grid-template-rows: repeat(1fr, auto);


  h1, h2 {
    font-family: serif;
    margin-bottom: 1em;
  }
  h1 {
    font-size: 40px;
    display: flex;
    grid-area: 1 / 1 / 3 / 2;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    /* 
      transform: rotate(90deg) translateY(-400px);
     */
    /* 
      transform: rotate(90deg) translateY(-400px);
      transform-origin: top left; 
     */
  }
  h2  {
    font-size: 30px;
    margin-bottom: .5em;
    position: relative;
    display: flex;
    align-items: center;
    text-align:center;
    
    &::after, &::before {
      content: '';
      display: block;
      height: 5px; 
      background: black;
      flex: 1 1 auto;
    }
    &::after {
      margin-left: 20px;
    }
    &::before {
      margin-right: 20px;
    }
  }
  p  {
    line-height: 1.6em;
    /* 
      margin-bottom: 1em;
     */
    font-family: sans-serif;
    column-count: 2;
    column-gap: 2em;
  }
}
