@import 'reset';

html, body {
  height: 100vh;
}

.wrap {
  background: linear-gradient(-30deg, #fdaecb, #e7597f, #fe8556);
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.container {

  .item {
    box-sizing: border-box;
    display: flex;
    background: #fff;
    box-shadow: 0 10px 30px rgba(160, 0, 0, .5);
    .pic {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        object-fit: cover;
      }
    }
    .txt {
      width: 50%;
      padding: 20px;
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 700;
      }
      p {
        font-weight: 300;
        margin-bottom: 1em;
        line-height: 1.5;
      }

      a.btn {
        margin-top: auto;
        align-self: flex-end;
        line-height: 1.5;
        padding: 0 1rem;
        border: 1px solid #ccc;
        border-radius: 200px;
        color: #aaa;
        &:hover {
          background-color: #ccc;
          color: #fff;
        }
      }
    }
  }
}
